tr:hover {
    background-color: #eef2f7;
}
tr:nth-child(even) {
    background-color: #f9fafb;
}

tr.runwayTableRowGoal {
    background-color: #d8f0d8;
}

tr.runwayTableRowGoalPastDue {
    background-color: #f0dab2;
}

tr.runwayTableRowRetired {
    background-color: #c9e0f8;
}